.Projects{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg--projectes);
}

.primeiro{
    font-size: 26px;
    font-weight: 600;
}

.Projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1100px;
    margin-top: 50px;
    gap: 10px;
}

.Projetos-box{
    width:350px;
    cursor: pointer;
    position: relative;
}

.Projetos-box img{
    width:360px;
    height: 216px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    transform: scale(0.9);
}
.Projetos-box:hover img{
    transform: scale(1.1);
}

.Projetos-modal{
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.71);
    color: white;
    padding: 15px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.Projetos-box:hover .Projetos-modal{
    display: block;
}

:root{
    --bg--projectes:white;
}

body.dark-theme {
    --bg--projectes:rgb(0, 0, 0);
}

[data-theme="dark"] {
    --bg--projectes:rgb(0, 0, 0);
}

@media (max-width: 1100px) {
    .Projects-container{
        width: 700px;
        grid-template-columns: repeat(2, 1fr);
    }
    .Projects{
        height: 130vh;
    }
}

@media (max-width: 764px) {
    .Projects{
        height: 170vh !important;
    }
    .Projects-container {
        width: 350px;
        grid-template-columns: 1fr;
    }
}